$("input#chatroom_topic").val(" ")
$("#chatroom-errors").html(" ")
<% if @chatroom %>
  $("#chatroom-index").append('<li><%= link_to @conversation_username, chatroom_path(@chatroom) %></li>')
<% end %>
